<?xml version="1.0" ?>
<robot name="skid_steer" xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <ros2_control name="skid_steer_controlled_system" type="system">
        <xacro:if value="$(arg is_sim)">
            <xacro:if value="$(arg is_gazebo_ign)">
                <hardware>
                    <plugin>ign_ros2_control/IgnitionSystem</plugin>
                </hardware>
            </xacro:if>
            <xacro:unless value="$(arg is_gazebo_ign)">
                <hardware>
                    <plugin>gz_ros2_control/GazeboSimSystem</plugin>
                </hardware>
            </xacro:unless>
        </xacro:if>
        <xacro:unless value="$(arg is_sim)">
            <hardware>
                    <plugin>skid_steer_firmware/SkidsteerInterface</plugin>
                    <param name="port">/dev/ttyACM0</param>
            </hardware>
        </xacro:unless>

        <joint name="base_right_front_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-3</param>
                <param name="max">3</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="base_right_mid_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-3</param>
                <param name="max">3</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="base_right_back_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-3</param>
                <param name="max">3</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="base_left_front_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-3</param>
                <param name="max">3</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="base_left_mid_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-3</param>
                <param name="max">3</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="base_left_back_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-3</param>
                <param name="max">3</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>

</robot>
